{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in India
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>Indian Mental Health Alliance (IMHA)</h4>
                Contact Number: +91-27806803/+91-6133039<br>
                <a class="link-info text-decoration-none" href="http://www.indiamentalhealthalliance.org/" target="_blank">https://mmha.org.my</a></li>
            <li class="list-group-item"><h4>National Tele Mental Health Program of india </h4>Contact Number: 1-800 891 4416 <br><a class="link-info text-decoration-none" href="https://telemanas.mohfw.gov.in/home" target="_blank">https://lifeline.org.my</a></li>
            <li class="list-group-item"><h4>Health Care</h4>Contact Number: 9976272929 <br><a class="link-info text-decoration-none" href="https://www.befrienders.org.my" target="_blank">https://www.befrienders.org.my</a><br><a class="link-info text-decoration-none" href="https://www.befrienders.org.my/centre-in-malaysia" target="_blank">Check Out Other Area</a></li>
            
            <li class="list-group-item"><h4>Relate India</h4>
                Contact Number: N/A<br>
                <a class="link-info text-decoration-none" href="https://relate.com.my" target="_blank">https://relate.com.my</a></li>
            <li class="list-group-item"><h4>Mental Illness Awareness and Support Association (MIASA)</h4>
                Contact Number: 1-800-820066<br>
                <a class="link-info text-decoration-none" href="https://www.miasa.org.my" target="_blank">https://www.miasa.org.my</a></li>       
        </ul>
    </div>
</div>
{%endblock content%}